<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mira.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <Mira.Properties.Settings>
            <setting name="DatabaseServer" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseUser" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="PathDocuments" serializeAs="String">
                <value>C:\Mira\</value>
            </setting>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>nl-NL</value>
            </setting>
            <setting name="UseLanguageEmployee" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultDescriptionLanguage" serializeAs="String">
                <value>nl-NL</value>
            </setting>
            <setting name="DefaultDaysForWarningReservations" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ModuleStock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModuleReservation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModuleAnalyse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LicenseDatabaseServer" serializeAs="String">
                <value>TsDAlBdvb5o3W2/UzrYpI8aBL+R/fQDo</value>
            </setting>
            <setting name="LicenseDatabase" serializeAs="String">
                <value>
tnwg62IYrltyVv7TA/PPrQ==</value>
            </setting>
            <setting name="LicenseDatabaseUser" serializeAs="String">
                <value>
tnwg62IYrltyVv7TA/PPrQ==</value>
            </setting>
            <setting name="LicenseDatabasePassword" serializeAs="String">
                <value>DcJ0FKKUJwc=</value>
            </setting>
            <setting name="ModuleMaintenance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActiveLanguage" serializeAs="String">
                <value>nl-NL</value>
            </setting>
            <setting name="Required_Project" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModuleBarcodeScanner" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportBarcodeScanner_Path" serializeAs="String">
                <value>C:\tmp\</value>
            </setting>
            <setting name="ExportBarcodeScanner_EmployeesDocumentName" serializeAs="String">
                <value>ExpEmployees.xml</value>
            </setting>
            <setting name="ExportBarcodeScanner_StockDocumentName" serializeAs="String">
                <value>ExpStock.xml</value>
            </setting>
            <setting name="ExportBarcodeScanner_LocationsDocumentName" serializeAs="String">
                <value>ExpLocations.xml</value>
            </setting>
            <setting name="ExportBarcodeScanner_MovementsDocumentName" serializeAs="String">
                <value>Movements.xml</value>
            </setting>
            <setting name="CheckInLocationMandatory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoGenerateLotNumbers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkstationLocationId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocationForWorkstation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CalculateCostFromDay0" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintCheckoutReport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintCheckinReport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckinoutReportPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="EmployeeRequiredForCheckin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompanyIdForCheckInOutReport" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintCheckInOutReportInLanguageEmployee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckinoutReportPrintQuantity" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CheckInOutDisableChooseEmployeebyName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckInOutShowEmployeeBadgeEncrypted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckInOutShowStockRemarks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChangeLanguageInEachScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConnectEmployeeWithUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckInOutConsultation_ShowColumn_EmployeeBadge"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckInOutConsultation_ShowColumn_EmployeePersonnelNumber"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LicenseDate" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintMaintenanceInReport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrintMaintenanceOutReport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaintenanceInOutReportPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyIdForMaintenanceReport" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaintenanceReportPrintQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintMaintenanceReportAutomatic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaintenanceReportFooter_nl" serializeAs="String">
                <value>Dit is de footer</value>
            </setting>
            <setting name="MaintenanceReportFooter_fr" serializeAs="String">
                <value>Ceci est un footer</value>
            </setting>
            <setting name="MaintenanceReportFooter_en" serializeAs="String">
                <value>This is the footer</value>
            </setting>
            <setting name="ShowMaintenanceMessageCheckout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMaintenanceMessageCheckin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowItemImageInStockOverview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BasicUserOpenCheckoutScreenWhenLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyAdminCanEditDelete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoveLocationPossible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckoutMovementsPossible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetCurrentLocationPossible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetProjectInPossible" serializeAs="String">
                <value>False</value>
            </setting>
        </Mira.Properties.Settings>
    </userSettings>
</configuration>
